.landingPage {
    &__signIn {
        text-align: center;
        margin-top: 80px;
    }
    &__photo {
        text-align: center;
    }
    &__greeting {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__swoosh {
        color: #111111;
        font-size: 50px;
    }
    &__button {
        margin: 10px 0;
    }
}